# FEATURE SCALING

Feature scaling is performed when the features are in different ranges or have a very large gap between them. This might result in divergence during the GDA. We have three main ways to perform feature scaling:- 
1. Division by max value
2. Mean normalization
3. z-score normalization (Most optimal)

### Z-SCORE NORMALIZATION

In [ ]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt

In [ ]:
df = pd.read_csv("data/houses.csv")
df.head()

,Size(sqft),Number of Bedrooms,Number of floors,Age of home,Price(1000s dollars)
0,952.0,2.0,1.0,65.0,271.5
1,1244.0,3.0,1.0,64.0,300.0
2,1947.0,3.0,2.0,17.0,509.8
3,1725.0,3.0,2.0,42.0,394.0
4,1959.0,3.0,2.0,15.0,540.0

In [ ]:
df.columns = df.columns.str.strip()

X_train = df.drop("Price(1000s dollars)", axis=1).values 
y = df["Price(1000s dollars)"].values

In [ ]:
def z_score_normalisation(X):
    mu = np.mean(X, axis=0)
    sigma = np.std(X, axis=0)

    X_norm = (X - mu) / sigma

    return X_norm, mu, sigma

In [ ]:
X_norm, X_mu, X_sigma = z_score_normalisation(X_train)

NameError: name 'z_score_normalisation' is not defined